body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 40px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 8px;
    width: 100%;
}
